.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25%;
    gap: 10px;

}

.progress-container {
    display: flex;
    flex-direction: row;
    
}

.circle {
    color: #999999;
    font-size: 10px;
    border: 2.5px solid #E0E0E0;
    width: 10px;
    padding: 5px;
    border-radius: 100%;
    text-align: center;
}

.btns{
    display: flex;
    gap:20px;
    padding: 30px;
   
}
button {
    color: white;
    font-size: 15px;
    background-color: #3498DB;
    text-align: center;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    border: none;
}


.line{
    display: flex;
    align-items: center;
}


hr {
    width: 50px;
    border: 1.5px solid #E0E0E0;
    background-color: #E0E0E0;
}


#btn1{
    background-color: #E0E0E0;
}


#btn1.color{
    background-color: #3498DB;
}


.circle.next {
    border: 2px solid #3498DB;
    border-color: #3498DB;
    color:grey;
}
hr.next{
    border: 2px solid #3498DB;
    border-color: #3498DB;
    color:grey;
}